# rw: CLI for R with Multi-Runtime Support

_WARNING: This is work under development. I strongly recommend that
you do not depend on it at this time. Please do not publish a package
to NPM that depends on it._

## TL;DR

The `rw` tool is an Rscript-like command-line-interface (CLI) for running
R code in a variety of environments (runtimes), including **[webR]**
via [Deno] (for high isolation) or [Node.js] (for partial isolation).

```sh
$ rw --prologue=trusted.R untrusted.R
```

This is useful for evaluating arbitrary, potentially untrusted R
code in a secure manner, or for testing R code and packages in **webR**
without a browser.


## Run without Installation

### Using Node.js

```sh
$ npx @henrikbengtsson/rw --expr="sum(1:100)"
[1] 5050
```

### Using Deno

```sh
$ deno run --quiet --allow-all npm:@henrikbengtsson/rw --expr='sum(1:100)'
[1] 5050
```


## Installation

### Using Node.js

```sh
npm install --global @henrikbengtsson/rw
```

The `rw` executable is installed to the `bin/` subfolder under `npm
config get prefix`. Prepend that to your `PATH`, e.g. `export
PATH=$(npm config get prefix)/bin:$PATH`.


### Using Deno

```sh
deno install --global --allow-all npm:@henrikbengtsson/rw
```

The `rw` executable is installed to `~/.deno/bin/`. Prepend that to
your `PATH`, e.g. `export PATH=~/.deno/bin:$PATH`.

To install the development version, use:

```sh
deno install --global --name rw-devel --allow-all https://raw.githubusercontent.com/futureverse/rw/refs/heads/develop/node/deno.json
```


## Command-line Interface

```sh
$ rw --help
{{ HELP }}
```


[webR]: https://github.com/r-wasm/webr/
[Node.js]: https://nodejs.org/en/
[Deno]: https://deno.com/
